*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f5f7fb;
}

header{
  background:#ff7a00;
  padding:15px;
  color:white;
}

.navbar{
  display:flex;
  justify-content:space-between;
}

.hero-text{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
}

.btn{
  background:#25d366;
  color:white;
  padding:10px 20px;
  text-decoration:none;
  border-radius:10px;
  margin-top: 15px;
  display: inline-block;
}

.productos{
  padding:20px;
}

.grid-productos{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:10px;
}

.card{
  background:white;
  padding:15px;
  border-radius:10px;
}

button{
  background:#ff7a00;
  color:white;
  border:none;
  padding:8px;
  width:100%;
  margin-top:10px;
}

/* carrito */
.carrito{
  position:fixed;
  right:20px;
  bottom:80px;
  background:white;
  padding:10px;
  width:250px;
  border-radius:10px;
}

.contador{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#ff7a00;
  color:white;
  padding:15px;
  border-radius:50%;
  cursor:pointer;
}
footer{
  background:#1f1f1f;
  color:white;
  padding:40px 20px;
  margin-top:60px;
}

.footer-content{
  max-width:1200px;
  margin:auto;
  text-align:center;
}

.footer-content h3{
  margin-bottom:10px;
  font-size:1.5rem;
}

.footer-content p{
  color:#bbb;
  margin-bottom:20px;
}

.footer-links{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-bottom:20px;
  flex-wrap:wrap;
}

.footer-links a{
  color:white;
  text-decoration:none;
  transition:0.2s;
}

.footer-links a:hover{
  color:#ff7a00;
}

.copy{
  color:#888;
  font-size:14px;
}
.item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:10px;
  margin-bottom:10px;
}
.item button{
  width:auto;
  padding:4px 8px;
  font-size:12px;
  border-radius:6px;
  margin-left:10px;
  background:#ff3b3b;
}
